body{
  padding: 0;
  margin: 0;
}
form{
  background:#6E6E6E;
  padding: 30px;
  width: 50%;
  max-width: 600px;
  margin: auto;
}
.titu1{
  text-align: center;
  color:#610B0B;
}
.titu2{
  font-size: 16px;
  padding: 3px;
  font-weight: bold;
}
.user {
  font-size: 16px;
  padding: 3px;
  display: block;
  width: 100%;
}
.pass {
  font-size: 16px;
  padding: 3px;
  display: block;
  width: 100%;

}
.btn{
  background: #045FB4;
  width: 100%;
  opacity: 0.8;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;
  border-bottom: 0:
}
